<div class="dog_index">
<link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
<br>
<br>
<br>
<br>
<h1 style="color:black; font-size:90px">Update Successful!</h1>
</div>