<div class="home_about">
<link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
<h1 style="color:white; font-size:150px">About Us</h1>
<br>
    <div class="about-paragraph">
    <br>
    <br>
        <p> 
        Hey there, welcome to Fetch! You and your dog are in the right place!

        Fetch is an application for dog owners and their pets. It allows dog owners to set up ‘play dates’ with other dogs based on their size, temperament, breed, age, and location. This app was inspired by my own dog (a rescue) who’s had trouble socializing with dogs. He tends to be quite picky when he plays with his ‘puppy’ friends.
        </p>
    </div>
</div>