<div class="view">
    <div class="full-bg-img flex-center">
        <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">

                <h1 style="color:white;font-size:150px">Fetch</h1>

                <h2 style="color:white; font-size:40px">A Meet Up Application for your Dog. </h2>
            
                
                
    </div>
</div>
