<div class="home_stories">
<link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
<br>
<br>
<br>
<br>
<h1 style="color:black; font-size:70px">Check out people who use Fetch!</h1>
</div>

