<h1>Matches</h1>

<% @users.each do |user| %>
    <div>
        User's Name: <%= user["name"] %><br>
        Dog's Name: <%= user["dog_name"] %><br>  
        <%= user.inspect %>      
    </div>
<% end %>