<h1>Matches</h1>

<% @dogs.each do |dog| %>
    <div>
        user's Name: <%= dog.user["name"] %><br>
        Dog's Name: <%= dog["name"] %><br>  
        <% # user.inspect %>      
    </div>
    <br>
    <hr>
<% end %>