html,  
body,
.view
{
  height: 95%
}
.view {
  background: url("https://i.imgur.com/ygKk4vV.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Londrina Shadow', cursive;
    font-weight: bold;
    text-align: center;
}
.sessions_new {
  background: url("https://i.imgur.com/lTGdAXR.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Londrina Shadow'
}
.home_about {
  text-align: center;
  background: url("https://i.imgur.com/lTGdAXR.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Londrina Shadow', cursive;
  font-weight: bold;
}
.users_edit {
  background: url("https://i.imgur.com/csAt1TY.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-weight: bold;
  font-family: 'Londrina Shadow'
}
.users_new {
  background: url("https://i.imgur.com/lTGdAXR.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Londrina Shadow'
}

.home_stories {
    text-align: center;
  font-weight: bold;
  font-family: 'Londrina Shadow';
}

.home_about {
    text-align: center;
  font-weight: bold;
  font-family: 'Londrina Shadow';
}

.dog_edit {
  background: url("https://i.imgur.com/F82TVik.jpg") no-repeat center center fixed;
  text-align: center;
  font-weight: bold;
  font-family: 'Londrina Shadow';
  font-size: 20px;
  margin: left
}

.dog_new {
  text-align: center;
  font-weight: bold;
  font-family: 'Londrina Shadow'
}

.dog_index {
  text-align: center;
  font-weight: bold;
  font-family: 'Londrina Shadow'
}

.matches_new {
  text-align: center;
  font-weight: bold;
  font-family: 'Londrina Shadow';
  font-size: 30px
}

.users_index {
  text-align: center;
  font-weight: bold;
  font-family: 'Londrina Shadow';
  font-size: 30px
}

.form-group {
  width: 20%;
  font-size: 20px;
  font-family: 'Lucida Sans', 'sans-serif';
  text-align: center;
  margin-left: 600px;
}

.about-paragraph {
  text-align: center;
  font-size: 15px;
  padding: 135px 500px;
  color: white;
  font-family: 'Lucida Sans', sans-serif;
}

.btn.btn-light {
  font-family: 'Lucida Sans', 'sans-serif';
  color: white;
}

.btn {
  color: white;
}